<?xml version="1.0" encoding="utf-8"?>
<module name="ServicesModule">

	<bind service="Graffiti.Core.Services.IObjectStoreService, Graffiti.Core" 
		  to="Graffiti.Services.ObjectStoreService, Graffiti.Services" 		  
		  scope="singleton" />

	<bind service="Graffiti.Data.IObjectStoreRepository, Graffiti.Services"
		  to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"		  
		  scope="singleton" />

	<bind service="Graffiti.Core.Services.IRolePermissionService, Graffiti.Core"
		  to="Graffiti.Services.RolePermissionService, Graffiti.Services"
		  scope="singleton" />

	<bind service="Graffiti.Data.IRoleRepository, Graffiti.Services"
		  to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  scope="singleton" />

	<bind service="Graffiti.Data.IPermissionRepository, Graffiti.Services"
		  to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"		  
		  scope="singleton" />

	<bind to="Graffiti.Services.CategoryService, Graffiti.Services"
		  service="Graffiti.Core.Services.ICategoryService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.ICategoryRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.PostService, Graffiti.Services"
		  service="Graffiti.Core.Services.IPostService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.IPostRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.CommentService, Graffiti.Services"
		  service="Graffiti.Core.Services.ICommentService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.ICommentRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.GraffitiCoreUserService, Graffiti.Services"
		  service="Graffiti.Core.Services.IGraffitiUserService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.IUserRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.TagService, Graffiti.Services"
		  service="Graffiti.Core.Services.ITagService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.ITagRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.VersionStoreService, Graffiti.Services"
		  service="Graffiti.Core.Services.IVersionStoreService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.IVersionStoreRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.ReportService, Graffiti.Services"
		  service="Graffiti.Core.Services.IReportService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.IReportRepository, Graffiti.Services"
		  scope="singleton" />

	<bind to="Graffiti.Services.LogService, Graffiti.Services"
		  service="Graffiti.Core.Services.ILogService, Graffiti.Core"
		  scope="singleton" />

	<bind to="Graffiti.Data.DataBuddy.DataBuddyRepository, Graffiti.Data.DataBuddy"
		  service="Graffiti.Data.ILogRepository, Graffiti.Services"
		  scope="singleton" />

	<bind service="Graffiti.Core.CategoryAndPostHandler, Graffiti.Core"
		  to="self"
		  scope="singleton" />

</module>