<?xml version="1.0" encoding="utf-8" ?>
<Theme>
	<DynamicConfiguration>
		<propertyGroup text="Site Details">
							
			<propertySubGroup text="Site Description">
				<property id="SiteLogo" text="Site Logo" dataType="url" descriptionText="The logo that will be rendered on your site (uses title/tagline if no value is set). The value '~|' will resolve to your theme folder." defaultValue="" />
				<property id="SiteBanner" text="Site Banner" dataType="url" descriptionText="The site's banner image." defaultValue="" />
			</propertySubGroup>			 
		
		</propertyGroup>
	</DynamicConfiguration>
</Theme>