/******************

	Media: print 
	
***************/

body {
	font-family: Georgia, Times, sans-serif;
}

ol, ul { list-style: none; }

a:link:after,
a:visited:after,
a:hover:after,
a:active:after {
	content: " <" attr(href) "> ";
	color: #8D7E95;
	font-style: italic;
	font-weight: normal;
	border: none;
}
a[href^="/"]:after {
	content: " <"attr(href)"> ";
}
a[href^="mailto"]:after {
	content: "";
}

#accessibility-links, #navigation, #footer ol { 
	display: none !important; 
}

hr { display: none; }

h1 { text-align: center; }

h2 {
	text-align: center;
	font-style: italic;
}