<?xml version="1.0" encoding="utf-8" ?>
<Theme>
<DynamicConfiguration>
	<propertyGroup text="Site Content">
		<propertySubGroup text="Right Header">
			<property id="siteHeaderRightContent" text="Additional Right Header Content" dataType="String" descriptionText="Enter any additional HTML that should be rendered in the right header under the search box." defaultValue="" />
		</propertySubGroup>			 
		<propertySubGroup text="Footer">
			<property id="siteFooterRightContent" text="Additional Footer Content" dataType="String" descriptionText="Enter any additional HTML that should be rendered in the right half of the site footer." defaultValue="" />
		</propertySubGroup>			 
	</propertyGroup>
</DynamicConfiguration>
</Theme>