<?xml version="1.0" encoding="utf-8" ?>
<Theme>
	<DynamicConfiguration>
		<propertyGroup text="Home Page">
			<propertySubGroup text="Featured Items Slider">
				<property id="homeSliderTitle" text="Title" dataType="String" descriptionText="The header text displayed above the list of featured items." defaultValue="Featured Items" />
				<property id="homeSliderSize" text="Max Number of items" dataType="Int" descriptionText="The maximum number of items to show in the slider." defaultValue="3" />
				<property id="homeSliderType" text="What posts should be displayed?" dataType="String" descriptionText="Choose how the featured items slider on the home page will display posts" defaultValue="homePosts">
					<propertyValue text="Show home page posts" value="homePosts" />
					<propertyValue text="Show all posts tagged 'featured'" value="taggedPosts" />
				</property>
			</propertySubGroup>
			<propertySubGroup text="Post List">
				<property id="homePostListTitle" text="Title" dataType="String" descriptionText="The header text displayed above the list of posts on the home page." defaultValue="Recent Items" />
			</propertySubGroup>
		</propertyGroup>
		<propertyGroup text="Navigation">
			<propertySubGroup text="Navigation">
				<property id="subNavType" text="Sub Navigation Type" dataType="String" descriptionText="What type of items should the sub-navigation bar display?" defaultValue="childCats">
					<propertyValue text="Child categories of the current category" value="childCats" />
					<propertyValue text="Child categories or posts of the current category" value="childCatsPosts" />
					<propertyValue text="All top level categories" value="allCats" />
				</property>
			</propertySubGroup>
		</propertyGroup>
		<propertyGroup text="Options">
			<propertySubGroup text="Archive">
				<property id="archiveCategory" text="Archive Category Name" dataType="String" descriptionText="To use the archive feature, enter the name of category. All posts in that category will be displayed in an archive style list on the archive page (see theme documentation)." defaultValue="" />
			</propertySubGroup>
			<propertySubGroup text="Subscriptions">
				<property id="subscribeTwitter" text="Twitter username" dataType="String" descriptionText="Enter your Twitter username if you want a subscribe to Twitter icon to be displayed." defaultValue="" />
				<property id="subscribeFacebook" text="Facebook url" dataType="String" descriptionText="Enter your Facebook URL if you want a subscribe to Facebook icon to be displayed." defaultValue="" />
				<property id="subscribeFlickr" text="Flickr url" dataType="String" descriptionText="Enter your Flickr URL if you want a subscribe to Flickr icon to be displayed." defaultValue="" />
			</propertySubGroup>
		</propertyGroup>
		<propertyGroup text="Footer">
			<propertySubGroup text="Footer">
				<property id="siteFooterLeftHeader" text="Additional Footer Header" dataType="String" descriptionText="Enter the header for the lower left area of the site footer." defaultValue="About" />
				<property id="siteFooterLeftContent" text="Additional Footer Content" dataType="String" descriptionText="Enter HTML content for the lower left area of the site footer." defaultValue="" controlType="Telligent.DynamicConfiguration.Controls.MultilineStringControl, Telligent.DynamicConfiguration" />
			</propertySubGroup>
		</propertyGroup>
	</DynamicConfiguration>
</Theme>
