<?xml version="1.0" encoding="utf-8" ?>
<Theme>
	<DynamicConfiguration>
		<propertyGroup text="Site Details">
			
				<!-- This group uses a couple optional propertySubGroups which enable grouping of related tasks. This is great when you have a lot of related items. -->
				
				<propertySubGroup text="Site Header Text">
					<property id="SiteHeaderText" text="fresh blend of amazing speakers, great advice and tons of networking potential" dataType="string" descriptionText="Displayed in the header area" defaultValue="fresh blend of amazing speakers, great advice and tons of networking potential" />
				</propertySubGroup>			 
		
		</propertyGroup>
	</DynamicConfiguration>
</Theme>